::-webkit-input-placeholder {
    font-style: italic;
}
:-moz-placeholder {
    font-style: italic;
}
::-moz-placeholder {
    font-style: italic;
}
:-ms-input-placeholder {
    font-style: italic;
}

:focus::-webkit-input-placeholder {color: transparent}
:focus::-moz-placeholder          {color: transparent}
:focus:-moz-placeholder           {color: transparent}
:focus:-ms-input-placeholder      {color: transparent}

.none {
    display: none !important;
}

.multiline{
    height: 200px;
}

.errorInput{
    border: 1px solid red;
}


.add {
    margin: 0 5px 5px 0;
    width: 270px;
    border: 1px dashed rgba(0, 89, 181, 0.82);
    padding: 5px;
}

.input{
    margin: 5px 0 0;
    box-shadow: 2px 2px 5px -1px rgb(0, 81, 202);
    padding: 3px 5px;
    background: #FFF;
    border: 1px solid rgba(0, 89, 181, 0.82);
    width: 250px;
}

.searchBar{
    width:600px;
    margin: 0 0 5px;
    box-shadow: 2px 2px 5px -1px rgb(0, 81, 202);
    padding: 3px 5px;
    background: #FFF;
    border: 1px solid rgba(0, 89, 181, 0.82);
}

.btn{
    margin: 0 5px 5px 0;
    width: 250px;
    border: 1px solid rgba(0, 89, 181, 0.82);
    padding: 5px;
    box-sizing: content-box;
    color: #FFF;
    text-transform: uppercase;
    background: #007DDC;
}

.disabled{
    background: #CCC;
    color: #999;
}

.btn:hover{
    background: #CCC;
}

body {
    background: rgba(0, 102, 255, 0.38);
    font-family: sans-serif;
}
p {
    margin: 0 0 5px;
}
.article {
    background: #FFF;
    border: 1px solid rgba(0, 89, 181, 0.82);
    width: 600px;
    margin: 0 0 5px;
    box-shadow: 2px 2px 5px -1px rgb(0, 81, 202);
    padding: 3px 5px;
}
.news__author {
    text-decoration: underline;
    color: #007DDC;
}
.news__count {
    margin: 10px 0 0 0;
    display: block;
}

